/* HEADER */
.explore-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 40px;
}
.explore-header.light{
  background: linear-gradient(135deg, #fff7ed, #fde68a);
  color: #000000;
}
.explore-header.dark{
  background: linear-gradient(135deg, #4c1d95, #7c3aed);
    color: #FFF;
}
.explore-header h2 {
  font-size: 30px;
  color: rgb(25, 3, 69);
  font-weight: bold;
  text-transform: uppercase;
}


.search-box {
  position: relative;
  width: 300px;
}
.h2.dark{
  color: #FFF;
}

.search-box input {
  width: 100%;
  padding: 10px 15px 10px 40px;
  border-radius: 25px;
  border: 1px solid #ccc;
  outline: none;
  font-size: 16px;
}

.search-icon {
  position: absolute;
  top: 50%;
  left: 14px;
  transform: translateY(-50%);
  font-size: 20px;
  color: gray;
}
.frm{
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: flex-start;
  background: linear-gradient(135deg, #fff7ed, #fde68a);

}
.frm input,
.frm textarea {
  width: 40%;
}
.frm.dark{
  background: linear-gradient(135deg, #4c1d95, #7c3aed);
  color: #FFF;

}
.btn-class{
  display: flex;
  justify-content: flex-start;
  gap: 10px;
  margin-bottom: 10px;
}
.explore-container {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  padding: 20px;
  background: linear-gradient(135deg, #fff7ed, #fde68a);
}


.no-post {
  grid-column: 1 / -1;
  text-align: center;
  font-size: 32px;
  margin-top: 60px;
}
.page-btn1 {
  padding: 8px 16px;
  border: none;
  border-radius: 6px;
  background: linear-gradient(135deg, #4c1d95, #7c3aed);
  color: white;
  font-size: 14px;
  cursor: pointer;
  margin-left: 50px;
}
.create-form.light{
  background: linear-gradient(135deg, #fff7ed, #fde68a);
  color: #000000;
}
.create-form.dark{
  background: linear-gradient(135deg, #4c1d95, #7c3aed);
    color: #ffffff;
}
.page-btn2 {
  padding: 8px 16px;
  border: none;
  border-radius: 6px;
  background: linear-gradient(135deg, #4c1d95, #7c3aed);
  color: white;
  font-size: 14px;
  cursor: pointer;
  margin-left: 20px;
  
}
.input1{
  width: 80%;
  padding: 10px 15px 10px 40px;
  border-radius: 10px;
  border: 1px solid #ccc;
  outline: none;
  font-size: 16px;
  margin-left: 50px;
}
.error
{
  color: red;
}
.arrow {
  position: fixed; 
  bottom: 40px;    
  right: 40px;     
  font-size: 45px; 
  color: #3b0764;
  cursor: pointer;
  display: flex;
  justify-content: center;
  background-color: white;
  border-radius: 50%;   
}
.explore-container.light{
 background: linear-gradient(135deg, #fff7ed, #fde68a);
  color: #000;
}
.explore-container.dark {
 background: linear-gradient(135deg, #4c1d95, #7c3aed, #a16207);
 color: #FFF;
}





