.footer {
  width: 100%;
  min-height: 80px; 
  padding: 14px 0;
  background: linear-gradient(135deg, #4c1d95, #7c3aed, #a16207);
  font-family: "Segoe UI", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}


.footer p {
  margin: 0;
  font-size: 20px;
  color: white;
  margin-top: 10px;
}

.footer b {
  color: #22d3ee;
  font-weight: 600;
}
/* Dark Mode logic */
.footer.dark {
  background: black;
  color: #FFF;
}



