nav{
  background: linear-gradient(135deg, #4c1d95, #7c3aed, #a16207);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 11%;
    height: 70px;
    padding: 0 40px; 
  }
  ul
  {
    display: flex;
    align-items: center;
    font-size: 20px ;
 
  }
  .user-icon{
    height: 42px;
     width: 42px;
     background-color:white;
     border: 2px solid #070707;
     border-radius: 50%;
     display: flex;
     align-items: center;
     justify-content: center;
     font-weight: 500px;
     font-size: 20px;
     
  }
 

  ul li{
    list-style-type:none;
    margin: 0 14px;
  }


  .h1b{
    color: #f3f1f6;
    margin-left: 50px;
  }
  
  

  .link{
  text-decoration: none;
  }


  
 
  

.dark {
  display: flex;
  align-items: center;      
  font-size: 20px;      
  cursor: pointer;
  text-decoration: none;
  gap: 6px;
  margin-left: auto; /* આ સૌથી મહત્વનું છે, તે બધી જગ્યા ડાબી બાજુ છોડી દેશે */
  color: white;
}
   
    
    
    .icon {
      display: flex;
      align-items: center;
    }

.nav-dark {
  background: black;
  color: white;
}
.nav-dark  .user-icon{
  color: black;
}