.pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    padding: 12px 20px;
   
  }
  .pagination.dark{
       background: linear-gradient(135deg,#7c45ce, #c98547, #a16207);
       color: white;
  }
  .page-btn {
    padding: 8px 16px;
    border: none;
    border-radius: 6px;
    background: linear-gradient(135deg, #4c1d95, #7c3aed);
    color: white;
    font-size: 14px;
    cursor: pointer;
    
  }

  .page-info {
    font-size: 14px;
    color: #374151;
  }
  .pagination select {
  padding: 8px 14px;
  border-radius: 8px;
  border: 2px solid #4c1d95;
  outline: none;
  font-size: 15px;
  font-weight: 500;
  cursor: pointer;
  background-color:  #c7b1e9;
  color: #333;
  transition: all 0.3s ease;
}
  