.post-container {
    display: flex;
    height: 60vh;
    font-family: Arial, Helvetica, sans-serif;
    margin: 100px   ;
    width: 80%;
    border-radius: 20px;
    background-color: #fde68a;
    box-shadow: 0 10px 30px rgba(0,0,0,0.1);
  }
 
  .post-container.light {
    background: linear-gradient(135deg, #fff7ed, #fde68a);
    color: #000;
  }
  
 

  .post-container.dark{
    background: rgba(15, 23, 42, 0.75);
    backdrop-filter: blur(12px);
    color: #fff;
  
  }

  
  .post-left {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .img {
    height: 250px;
    width: auto;
    transition: transform 0.3s ease;
  }
  
  .post-left:hover .img {
    transform: scale(1.05);
  }
  
  
  .post-right {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 40px;
  }
  
 
  
  .post-right p {
    color: #4b5563;
    line-height: 1.5;
    max-width: 400px;
  }
  
  
  .btnpost {
    margin-top: auto;
    display: flex;
    gap: 12px;
    align-self: flex-end;
  }
  .btnpost.dark{
    margin-top: 180px;
  }
  
  .btnpost button {
    border: none;
    padding: 8px 18px;
    border-radius: 8px;
    font-size: 0.85rem;

  }

  .btnedit {
    background-color: #22c55e;
    color: white;
  }
  
  .btndelet {
    background-color: #ef4444;
    color: white;
  }
  
  
  